/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
}

/* top banner  */

.container {


    background-color: #161616;
    width: 70%;
    border-radius: 25px;
    margin-left: 180px;
    margin-top: 50px;


}

.banner {

    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    align-items: center;

}




.banner-titel {
    color: white;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;

}

.banner-paragrap {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;

}

.banner-button {
    background-color: red;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
    color: #FFFFFF;
}

/* secttion-meddil */

.site-bar {
    background-color: #161616;
    width: 20%;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-top: 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 4rem;
}

.site-bar-manu {

    background-color: #FFFFFF;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: #161616;

}

.site-bar-blog {
    background-color: red;
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 8px;
}

/* tranfer Live blog */
.section-middel {
    display: flex;
    margin-top: 100px;
    column-gap: 40px;
    margin-left: 20px;
    margin-right: 40px;







}



.play {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer-button {
    width: 100px;
    height: 32px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}

/* fotter section  */

.fotter {
    text-align: center;
    background-color: rgb(11, 11, 11);
    color: antiquewhite;
    height: 300px;
    padding-top: 120px;
    margin-top: 100px;


}

.hr-line {

    width: 70%;
    margin-left: 200px;
    border-top: 1px solid rgb(21, 34, 50);



}

.fotter-info {
    display: flex;
    justify-content: center;
    column-gap: 35px;
    margin-top: 30px;

}